<link href="https://fonts.googleapis.com/css?family=Cantarell:400i" rel="stylesheet">

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"> Welcome Studen One</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a routerLink="/studentdashboard/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/studentdashboard/allbooks" routerLinkActive="active">All Books</a></li>
            <li class="active"><a routerLink="/studentdashboard/booksborowed" routerLinkActive="active">Borrowed Books</a></li>
            <li><a type="button" class="btn btn-danger" routerLink="/welcome" routerLinkActive="active">Sign Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="centering">
 <h1>Books borrowed will be listed here</h1>
</div>