<div>
<md-toolbar style="background-color:#00A3EF; color:yellow">
  <span style="font-family: 'Montserrat Subrayada', sans-serif;">Welcome Pratyay</span>
    <ul class="nav navbar-nav">
      <li><a routerLink="/studentdashboard/home">Home</a></li>
      <li><a routerLink="/studentdashboard/allbooks">All Books</a></li>
      <li class="active"><a routerLink="/studentdashboard/booksborrowed">Books Borrowed</a></li>
    </ul>
    <span class="example-spacer"></span>
    <button class="button" routerLink="/welcome">Sign Out</button>
</md-toolbar>
</div>

<h1>List of borrowed books will be shown here</h1>