.parent {
    text-align: center;
    padding-top: 50%;
    padding-bottom: 50%;
};

.background-img{
    min-height: 100%;
    min-width: 100%;
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #00A3EF 100%);
};

.wel{
    font-family: 'Galada', cursive;
    font-size: 42px;
    color: #e8041f;
}

.who{
    font-family: 'Ravi Prakash', cursive;
    font-size: 24px;
}