<div>
<md-toolbar style="background-color:#00A3EF; color:yellow">
  <span style="font-family: 'Montserrat Subrayada', sans-serif;" routerLink="/admindashboard">Admin Dashboard</span>

    <span class="example-spacer"></span>
    <button class="button" routerLink="/welcome">Sign Out</button>
</md-toolbar>
</div>

<md-list>
  <md-list-item routerLink="/admindashboard/allstudents/studentdetails"> 
    <div md-line style="font-size:24px;">Student 1</div>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  <hr>
  <md-list-item routerLink="/admindashboard/allstudents/studentdetails"> 
    <div md-line style="font-size:24px;">Student 2</div>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  <hr>
  <md-list-item routerLink="/admindashboard/allstudents/studentdetails"> 
    <div md-line style="font-size:24px;">Student 3</div>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  <hr>
  <md-list-item routerLink="/admindashboard/allstudents/studentdetails"> 
    <div md-line style="font-size:24px;">Student 4</div>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  <hr>
  <md-list-item routerLink="/admindashboard/allstudents/studentdetails"> 
    <div md-line style="font-size:24px;">Student 5</div>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  <hr>
  <md-list-item>
    <div class="pos">  
    <button class="btn btn-primary" routerLink="/admindashboard/addstudent">Add Student</button>
    </div>
  </md-list-item>
</md-list>