<div>
<md-toolbar style="background-color:#00A3EF; color:yellow">
  <span style="font-family: 'Montserrat Subrayada', sans-serif;">Welcome Pratyay</span>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/studentdashboard/home">Home</a></li>
      <li><a routerLink="/studentdashboard/allbooks">All Books</a></li>
      <li><a routerLink="/studentdashboard/booksborrowed">Books Borrowed</a></li>
    </ul>
    <span class="example-spacer"></span>
    <button class="buttonsignout" routerLink="/welcome">Sign Out</button>
</md-toolbar>
</div>
<div style="padding-left:28%;padding-top:5%;">
<md-card class="example-card">
  <md-card-header>
    <md-card-title class="heading">Pratyay Rudra's Details =></md-card-title>
  </md-card-header>
  <md-card-content>
    <p>
      <label>Name :</label>
        Pratyay Rudra
    </p>
    <p>
      <label>Department :</label>
        CSE
    </p>
    <p>
      <label>Year : </label> 1st Year
   </p>
   <p>
      <label>Roll : </label> 1
   </p>
   <p>
      <label>Email/Username :</label>
        xyz@gmail.com
    </p>
  </md-card-content>
 
</md-card>