.example-spacer {
  flex: 1 1 auto;
}

.button{
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    border-left-width: 4px;
    border-right-width: 4px;
    border-left-color: black;
    border-right-color: black;
}

.buttonsignout{
    background-color: transparent;
    border: none;
}

.heading{
    font-family: 'Merriweather', serif;
}

.example-card {
  width:600px;
}