<link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
<div class="background-img">
  <div class="parent">
    <div class="wel">
      Welcome
    </div>
    <div class="who">
      Who are you?
    </div>
    <a type="button" class="btn btn-primary" routerLink="/adminlogin" routerLinkActive="active">Admin</a>   <a type="button" class="btn btn-primary" routerLink="/studentlogin" routerLinkActive="active">Student</a>
  </div>
</div>