

.parent {
   padding-top: 20%;
        padding-bottom: 20%;
        padding-left: 45%;
        padding-right: 30%;
        background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #00A3EF 100%);
}

.wel{
    font-family: 'Galada', cursive;
    font-size: 42px;
    color: #e8041f;
}

.who{
    font-family: 'Ravi Prakash', cursive;
    font-size: 24px;
}