<div>
<md-toolbar style="background-color:#00A3EF; color:yellow">
  <span style="font-family: 'Montserrat Subrayada', sans-serif;">Welcome Pratyay</span>
    <ul class="nav navbar-nav">
      <li><a routerLink="/studentdashboard/home">Home</a></li>
      <li  class="active"><a routerLink="/studentdashboard/allbooks">All Books</a></li>
      <li><a routerLink="/studentdashboard/booksborrowed">Books Borrowed</a></li>
    </ul>
    <span class="example-spacer"></span>
    <button class="button" routerLink="/welcome">Sign Out</button>
</md-toolbar>
</div>

<div>
<md-list>
  <md-list-item routerLink="/studentdashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line> Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-primary">Borrow</button>
  </md-list-item>
  <md-list-item routerLink="/studentdashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line> Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-primary">Borrow</button>
  </md-list-item>
  <md-list-item routerLink="/studentdashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line> Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-primary">Borrow</button>
  </md-list-item>
  <md-list-item routerLink="/studentdashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line> Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-primary">Borrow</button>
  </md-list-item>
  <md-list-item routerLink="/studentdashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line> Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-primary">Borrow</button>
  </md-list-item>
  
  
</md-list>