<div>
<md-toolbar style="background-color:#00A3EF; color:yellow">
  <span style="font-family: 'Montserrat Subrayada', sans-serif;" routerLink="/admindashboard">Admin Dashboard</span>

    <span class="example-spacer"></span>
    <button class="button" routerLink="/welcome">Sign Out</button>
</md-toolbar>
</div>

<div>
<md-list>
  <md-list-item routerLink="/admindashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line> Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  <md-list-item routerLink="/admindashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line> Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  <md-list-item routerLink="/admindashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line> Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  <md-list-item routerLink="/admindashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line> Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  <md-list-item routerLink="/admindashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line> Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  <md-list-item routerLink="/admindashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line>Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  <md-list-item routerLink="/admindashboard/allbooks/bookdetails">
    <img md-list-avatar src="https://prodimage.images-bn.com/pimages/9780735211209_p0_v3_s192x300.jpg" alt="...">
    <h2 md-line> Into the Water </h2>
    <p md-line>
      <span> By -- Paula Hawkins </span>
    </p>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Update</button>
  </md-list-item>
  
</md-list>
</div>
<div class="pos">
  <button class="btn btn-primary" routerLink="/admindashboard/addbook">Add Book</button>
</div>