<md-toolbar style="background-color:#00A3EF; color:yellow">
  <span style="font-family: 'Montserrat Subrayada', sans-serif;" routerLink="/admindashboard">Admin Dashboard</span>

    <span class="example-spacer"></span>
    <button class="button" routerLink="/welcome">Sign Out</button>
</md-toolbar>

<div style="text-align:center">
    <h2>New Student Registration</h2>
  </div>
<form class="pos"> 
  
  <div class="form-group col-xs-7">
    <h5>NAME </h5>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-xs-7">
    <h5>DEPARTMENT </h5>
      <select class="form-control">
          <option>CSE</option>
          <option>IT</option>
          <option>Electronics</option>
        </select>  
    </div>  
    <div class="form-group col-xs-7">
    <h5>YEAR </h5>
      <select class="form-control">
          <option>1st Year</option>
          <option>2nd Year</option>
          <option>3rd Year</option>
          <option>4th Year</option>
        </select>  
    </div> 
    <div class="form-group col-xs-7">
    <h5>PHONE </h5>
    <input type="numer" class="form-control">
  </div>
  <div class="form-group col-xs-7">
    <h5>ROLL</h5>
    <input type="number" class="form-control">
  </div>
  <div class="form-group col-xs-7">
    <h5>EMAIL/USERNAME </h5>
    <input type="email" class="form-control">
  </div>
  <div class="form-group col-xs-7">
    <h5>PASSWORD </h5>
    <input type="password" class="form-control">
  </div>
</form>

<div style="position:absolute; padding-top:45%; padding-left:46%; padding-bottom:3%">
  <button type="submit" class="btn btn-primary">Submit</button> 
</div>
